<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.layout.mapper.LayoutSchedulingMapper">
    
    <resultMap type="LayoutScheduling" id="LayoutSchedulingResult">
        <result property="id"    column="id"    />
        <result property="userId"    column="user_id"    />
        <result property="shiftId"    column="shift_id"    />
        <result property="scheduleDate"    column="schedule_date"    />
        <result property="status"    column="status"    />
        <result property="remarks"    column="remarks"    />
    </resultMap>

    <sql id="selectLayoutSchedulingVo">
        select id, user_id, shift_id, schedule_date, status, remarks from layout_scheduling
    </sql>

    <select id="selectLayoutSchedulingList" parameterType="LayoutScheduling" resultMap="LayoutSchedulingResult">
        <include refid="selectLayoutSchedulingVo"/>
        <where>  
            <if test="userId != null "> and user_id = #{userId}</if>
            <if test="shiftId != null "> and shift_id = #{shiftId}</if>
            <if test="params.beginScheduleDate != null and params.beginScheduleDate != '' and params.endScheduleDate != null and params.endScheduleDate != ''"> and schedule_date between #{params.beginScheduleDate} and #{params.endScheduleDate}</if>
            <if test="status != null  and status != ''"> and status = #{status}</if>
        </where>
    </select>
    
    <select id="selectLayoutSchedulingById" parameterType="Long" resultMap="LayoutSchedulingResult">
        <include refid="selectLayoutSchedulingVo"/>
        where id = #{id}
    </select>

    <insert id="insertLayoutScheduling" parameterType="LayoutScheduling">
        insert into layout_scheduling
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">id,</if>
            <if test="userId != null">user_id,</if>
            <if test="shiftId != null">shift_id,</if>
            <if test="scheduleDate != null">schedule_date,</if>
            <if test="status != null">status,</if>
            <if test="remarks != null">remarks,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="userId != null">#{userId},</if>
            <if test="shiftId != null">#{shiftId},</if>
            <if test="scheduleDate != null">#{scheduleDate},</if>
            <if test="status != null">#{status},</if>
            <if test="remarks != null">#{remarks},</if>
         </trim>
    </insert>

    <update id="updateLayoutScheduling" parameterType="LayoutScheduling">
        update layout_scheduling
        <trim prefix="SET" suffixOverrides=",">
            <if test="userId != null">user_id = #{userId},</if>
            <if test="shiftId != null">shift_id = #{shiftId},</if>
            <if test="scheduleDate != null">schedule_date = #{scheduleDate},</if>
            <if test="status != null">status = #{status},</if>
            <if test="remarks != null">remarks = #{remarks},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteLayoutSchedulingById" parameterType="Long">
        delete from layout_scheduling where id = #{id}
    </delete>

    <delete id="deleteLayoutSchedulingByIds" parameterType="String">
        delete from layout_scheduling where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>